---
layout: layouts/home.njk
tags:
  - nav
navtitle: Notes
permalink: /notes/
date: 2019-05-01
---
<div class="grid  grid--4">
  <div class="grid__column">
    {% include "partials/profile.njk" %}
  </div>
  <div class="grid__column  grid__column--span--3">
    {% set noteslist = collections.notes %}
    {% include "partials/noteslist.njk" %}
  </div>
</div>
