---
layout: globals/base.njk
templateClass: iw_note
---
<div class="grid  grid--4">
  <div class="grid__column">
    {% include "partials/profile.njk" %}
  </div>
  <div class="grid__column  grid__column--span--3">
    <article class="note h-entry">
      <h1 class="hidden">{{ title }}</h1>

      {% set post = {
        date: date,
        url: url,
        data: { twitterId: twitterId, location: location, tags: tags }
      } %}
      {% include 'partials/noteheader.njk' %}

      <div class="e-content p-name  note--content">
        {{ content | safe }}
      </div>

      {% include 'partials/webmentionlist.njk' %}
    </article>

    {% import "macros/pagination.njk" as macro with context %}
    {{ macro.pagination('notes') }}
  </div>
</div>
