---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
permalink: /
templateClass: home
date: 2019-01-01
---
<h1>hey there.</h1>

<div class="p-summary  intro">
  <p>
    My name is Bea David, I love to build responsive and accessible web applications.<br />
    In my free time I enjoy to stay on top of horses, motor bikes and hills. That's not always easy, but so far I'm happy with the outcome.
  </p>
</div>

<div class="grid  grid--3">
  <div class="grid__column  grid__column--span">
    {% set noteslist = collections.notes | head(-1) %}
    {% include "partials/noteslist.njk" %}
  </div>
  <div class="grid__column">
    {% include 'partials/profiles.njk' %}
  </div>
</div>
