---
layout: layouts/basicpage.njk
permalink: /journaling/
eleventyExcludeFromCollections: true
title: Random Journaling Question
---
<h1>{{ title }}</h1>

<cite class="intro random-question">„{{journaling | random}}“</cite>
