---
layout: layouts/basicpage.njk
permalink: /journaling/
eleventyExcludeFromCollections: true
title: Random Journaling Question
---
<h1>{{ title }}</h1>

<cite class="intro random-question">„Was macht für dich einen verregneten Tag schön?“</cite>

<p><small>© by <a href="https://steph-reinhardt.de/">Steph Reinhardt Coaching</a></small></p>
