---
layout: globals/base.njk
templateClass: basic-page
---
<h1>{{ title }}</h1>

<div class="grid  grid--3">
  <div class="grid__column  grid__column--span{% if modifiers %}  {{ modifiers }}{% endif %}">
    {{ content | safe }}
  </div>
  <div class="grid__column">
    {% include 'partials/profiles.njk' %}
  </div>
</div>
