<!doctype html>
<html lang="en" class="no-js  no-touch">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />

    <title>{{ metadata.title }} | {{ renderData.title or title or metadata.subtitle }}</title>
    <meta name="keywords" content="{{ metadata.keywords }}" />
    <meta name="description" content="{{ metadata.description or description or metadata.description }}" />
    <meta name="robots" content="follow" />
    <meta name="author" content="{{ metadata.author.name }}" />
    <link rel="canonical" href="{{ metadata.url }}" />

    <link rel="webmention" href="{{ metadata.links.webmention }}" />
    <link rel="pingback" href="{{ metadata.links.pingback }}" />
    <link rel="token_endpoint" href="{{ metadata.links.tokenEndpoint }}" />
    <link rel="authorization_endpoint" href="{{ metadata.links.authEndpoint }}" />
    <link href="{{ metadata.links.twitter }}" rel="me" />
    <link href="{{ metadata.links.github }}" rel="me" />
    <link href="mailto:{{ metadata.author.email }}" rel="me" />

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}">
  </head>

  <body class="page--{{ templateClass }}">
    <header class="header">

      <div class="header__wrapper">
        <div class="button--nav__wrapper">
          <button class="button--nav js-button-nav" title="Show / hide navigation">
            <strong>MENU</strong>
            <span class="button--nav__inner"></span>
          </button>
        </div>

        {% if permalink == '/' %}
          <cite>
            <a href="{{ metadata.url }}" title="Home" class="js-zen  zen">
              Nothing exciting happens in the comfort zone.
              <noscript>Speak like a human.</noscript>
            </a>
          </cite>
        {% endif %}
      </div>

      <div class="header__nav">
        <div class="header__nav__wrapper">
          {% set parameters = { 'area': 'main' } %}
          {% include 'globals/nav-main.njk' %}
        </div>
      </div>
    </header>

    <main class="content">
      {{ content | safe }}
    </main>

    <footer class="footer">
      {% set parameters = { 'area': 'footer' } %}
      {% include 'globals/nav-main.njk' %}
    </footer>

    <script src="{{ '/assets/js/main.js' | url }}"></script>
  </body>
</html>
