<section class="indieweb">
  <h2>What's new?</h2>

  {% for post in noteslist | reverse %}
    <article class="note h-entry">
      {% include 'partials/noteheader.njk' %}

      <div class="e-content p-name  note--content">
        {{ post.data.description }}
        <a href="{{ post.url | url }}" class="postlist-link">[read on]</a>
      </div>
    </article>
  {% endfor %}

  {% if page.url != '/notes/' %}
    <a href="{{ '/notes' | url }}">[more]</a>
  {% endif %}
</section>
