<div class="indieweb--me js-indieweb--me">
  <img src="{{ '/assets/img/me.jpg' | url }}" alt="{{ metadata.author.name }}">

  <ul class="list--links">
    <li class="h-item">
      <a href="{{ metadata.links.github }}" rel="me" class="u-url  p-name">
        {% set name = 'github' %}
        {% include 'partials/_svg.njk' %}
        Github
      </a>
    </li>
    <li class="h-item">
      <a href="{{ metadata.links.twitter }}" rel="me" class="u-url  p-name">
        {% set name = 'twitter' %}
        {% include 'partials/_svg.njk' %}
        @{{ metadata.author.twitterName }}
      </a>
    </li>
    <li class="h-item">
      <a class="u-email" href="mailto:{{ metadata.author.email }}">
        {% set name = 'mail' %}
        {% include 'partials/_svg.njk' %}
        {{ metadata.author.email }}
      </a>
    </li>
  </ul>
</div>

