<section class="section--profile  h-card  card">
  <strong class="p-name  card--name">{{ metadata.author.name }}</strong>
  <h2>Contact</h2>
  <img class="hidden u-photo" aria-hidden="true" src="{{ '/assets/img/me.jpg' | url}}" alt="{{ metadata.author.name }}" />
  <ul class="list--links">
    <li>
      <a class="u-url" href="{{ metadata.url }}">
        {% set name = 'earth' %}
        {% include 'partials/_svg.njk' %}
        {{ metadata.url }}
      </a><br />
    </li>
    <li>
      <a class="u-email" href="mailto:{{ metadata.author.email }}">
        {% set name = 'mail' %}
        {% include 'partials/_svg.njk' %}
        {{ metadata.author.email }}
      </a>
    </li>
    <li>
      <span class="p-locality">
        {% set name = 'location' %}
        {% include 'partials/_svg.njk' %}
        {{ metadata.author.location }}
      </span>
    </li>
  </ul>
</section>

<section class="section--profile  h-entry">
  <h2 class="p-name">Profiles</h2>
  <ul class="list--links">
    <li class="h-item">
      <a href="{{ metadata.links.github }}" rel="me" class="u-url  p-name">
        {% set name = 'github' %}
        {% include 'partials/_svg.njk' %}
        Github
      </a>
    </li>
    <li class="h-item">
      <a href="{{ metadata.links.twitter }}" rel="me" class="u-url  p-name">
        {% set name = 'twitter' %}
        {% include 'partials/_svg.njk' %}
        @{{ metadata.author.twitterName }}
      </a>
    </li>
  </ul>
</section>

